<div class="row">
    <div class="col-md-12">
        <h2>Products</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eligendi ex dolorum vitae earum consequatur
            blanditiis.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://dummyimage.com/600x400/000/fff" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a routerLink="black" class="btn btn-outline-primary">Know more</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://dummyimage.com/600x400/F44336/fff" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-outline-primary">Know more</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://dummyimage.com/600x400/2E7D32/fff" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-outline-primary">Know more</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://dummyimage.com/600x400/303F9F/fff" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-outline-primary">Know more</a>
            </div>
        </div>
    </div>
</div>