<div class="row">
    <div class="col-md-4">
        <img class="card-img-top rounded" src="https://dummyimage.com/600x400/000/fff" alt="Card image cap">
    </div>
    <div class="col-md-8">
        <div class="py-2">
            <h5 class="card-title mb-3">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, dolores in!
                Minima dolorum explicabo placeat officiis non voluptatem voluptas quos ea eos amet et, quis autem
                molestias
                omnis porro nostrum!</p>
        </div>
    </div>
</div>